<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
                {% if user.role_id == 1 or user.role_id == 2 %}
                    <a href="/"><div>Home</div></a>
                    <a href="/users"><div>Users</div></a>
                    <a href="/products"><div>Products</div></a>
                    <a href="/orders"><div>Orders</div></a>
                    <a href="/logout"><div>Logout</div></a>
                {% else %}
                    <a href="/cart"><div>Koszyk</div></a>
                    <a href="/"><div>Home</div></a>
                    <a href="/logout"><div>Logout</div></a>
                {% endif %}
            {% else %}
                <a href="/"><div>Home</div></a>
                <a href="/login"><div>Login</div></a>
                <a href="/register"><div>Register</div></a>
            {% endif %}
        </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    {% block main %}{% endblock %}

    <footer>Bartosz Wolniewicz &copy;2022</footer>
</body>
<script src="{{ url_for('static', filename='index.js') }}"></script>
</html>